* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Work Sans', sans-serif;
  background-color: aliceblue;
}

main {
  width: 100%;
  max-width: 70rem;
  margin: 0 auto;
}

header {
  text-align: center;
  margin-bottom: 2rem;
}
header img {
  width: 10rem;
}

h1 {
  font-family: 'Fjalla One', sans-serif;
}

form {
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 1rem;
}

fieldset {
  padding: 1.5rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  margin-bottom: 1.5rem;
}

legend {
  font-weight: bold;
  font-size: 1.8rem;
  padding: 0 0.5rem;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

input[type='tel'] {
  margin-bottom: 0;
}

#phone-help {
  display: inline-block;
  margin-bottom: 20px;
}

input,
select,
textarea {
  width: 100%;
  padding: 1rem;
  margin-bottom: 2rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
}

textarea {
  min-height: 10rem;
}

input[type='radio'],
input[type='checkbox'] {
  width: auto;
}

input[type='color'] {
  width: 4rem;
  padding: 0 0.5rem;
}

input:invalid,
select:invalid,
textarea:invalid {
  border-color: red;
}

input:valid,
select:valid,
textarea:valid {
  border-color: green;
}

p {
  margin-bottom: 1.5rem;
  font-weight: bold;
}

button {
  width: 10rem;
  height: 3rem;
  margin-right: 1rem;

  border: 1px solid #ccc;
  border-radius: 0.5rem;

  cursor: pointer;
}

button[type='submit']:hover {
  background-color: green;
  color: white;
}

button[type='reset']:hover {
  background-color: red;
  color: white;
}
