* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Work Sans', sans-serif;
}

h1 {
  font-family: 'Fjalla One', sans-serif;
}
